<html>
  <head>
    <title>Protected Home Page</title>
  </head>
  <body>
    <h1>Welcome to home</h1>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
